body {
    background: $color-background;
    color: $color-font;
    font-family: 'Raleway', sans-serif;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
h1 {
    color: $color-site-title;
    font-size: 4em;
    text-align: center;
    @include respond-to(small) {
        font-size: 6em;
    }
}
.content-icon {
    margin-left: 10px;
    height: 24px;
}
.pure-button-primary {
    color: $color-white;
    &:visited {
        color: $color-white;
    }
}

.wrapper {
    padding: 0 5px;
    max-width: calc(1000px);
}
.site-footer {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $color-font;
        }
    }
    .wrapper {
        height: 32px;
    }
}
.footer-heading {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.footer-heading-logo {
    margin-right: 10px;
}
.footer-social {
    float: right;
}
.footer-social-icon {
    margin-left: 10px;
    img {
        height: 32px;
    }
}
.post-meta {
    display: none;
}
