.post-list {
    margin: 0 10px 15px 10px;
}
.front-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.front-title {
    font-family: 'Lobster', cursive;
}
.front-post {
    // padding: 10px;
    // margin: 20px;
    // background: white;
    border-radius: 6px;
    // border: 1px solid white;
    width: 100%;
    > div {
        display: inline-block;
        width: 100%;
        @include respond-to(medium) {
            width: calc(50% - 12px);
        }
    }
    @include clearfix;
}
.front-post-display {
    float: left;
}
.front-post-desc {
    float: right;
    background: white;
}
