.post-list {
    margin: 0 10px 25px 10px;
}
.front-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.front-title {
    font-family: 'Lobster', cursive;
}
.front-post {
    height: auto;
    margin-bottom: 35px;
    border-radius: 6px;
    width: 100%;
    @include respond-to(medium) {
        height: 300px;
    }
    > div {
        display: inline-block;
        width: 100%;
        text-align: center;
        @include respond-to(medium) {
            width: calc(50% - 12px);
            @include vertical-align-middle;
        }
    }
    @include clearfix;
    &:nth-child(even) {
        .front-post-display {
            float: right;
        }
        .front-post-desc {
            float: left;
        }
    }
    .front-post-display {
        float: left;
        max-height: 100%;
        img {
            padding: 10px;
        }

        @include respond-to(medium) {
            height: 100%;
            text-align: center;
            img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                padding: 0;
            }
        }
    }
    .front-post-desc {
        float: right;
        @include respond-to(medium) {
            text-align: left;
        }
    }
}
