@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin responsive-font-size($small: initial, $medium: initial, $large: initial) {
    @include respond-to(small) {
        font-size: $small;
    }
    @include respond-to(medium) {
        font-size: $medium;
    }
    @include respond-to(large) {
        font-size: $large;
    }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
