code {
    white-space: pre-wrap;
    span {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
.inline-code {
    display: inline-block;
    figure {
        margin: 0;
        padding: 0;
        pre {
            margin: 0;
            padding: 0;
            overflow: inherit;
        }
    }
}
