.inline-code {
    display: inline-block;
    figure {
        margin: 0;
        padding: 0;
        pre {
            margin: 0;
            padding: 0;
            overflow: inherit;
        }
    }
}
.anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 36px;
    vertical-align: middle;
    visibility: hidden;
    &:hover {
        visibility: visible;
    }
}
