.typesetbot-header {
    text-align: center;
}
.typesetbot-title {
    display: inline-block;
    margin: 30px;
    vertical-align: middle;
}
.typesetbot-logo {
    display: inline-block;
    margin: 5px;
}

.pure-table {
    margin: 0 auto;
}

/* https://codepen.io/rstrahl/pen/eJZQej */
/* horizontal panel*/
.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}
.panel-left {
    flex: 0 0 auto;
    padding: 10px;
    width: calc(100% - 300px);
    min-height: 200px;
    max-width: 100%;
    min-width: 150px;
}
.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #9a9a9a;
    min-height: 200px;
    cursor: col-resize;
}
.panel-right {
    flex: 1 1 auto;
}
.panel-right h3 {
    margin: 10px;
}
