---
layout: default
---

<div class="home">
    {% include header.html %}
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <div class="front-post">
            <div class="front-post-display">
                <img src="https://raw.githubusercontent.com/CoffeeIO/TypesetBot/master/logo.png" >
            </div>
            <div class="front-post-desc">
                <li>
                    <h2>
                        {{ post.title | escape }}
                    </h2>
                    <p>Typeset text w. TeX inspired algorithm</p>
                    <a href="{{ post.url | relative_url }}">View project <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </li>
            </div>

        </div>

        {% endfor %}
    </ul>

    {% include about.html %}

</div>
