---
layout: default
---

<div class="home">
    {% include header.html %}
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <div class="front-post">
            <div class="front-post-display">
                <img src="https://raw.githubusercontent.com/CoffeeIO/TypesetBot/master/logo.png">
            </div>
            <div class="front-post-desc">
                <li>
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h2>
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                    </h2>
                </li>
            </div>

        </div>

        {% endfor %}
    </ul>

    {% include about.html %}

</div>
