---
layout: default
---

<div class="home">
    {% include header.html %}
    {{ content }}

    <ul class="post-list reveal hidden-hr">
        {% for post in site.posts %}
        {% if post.type == 'article' %}
        <li class="post-list-item">
            <hr>
            <div class="post-list-item-display">
                {% if post.snippet-type == 'image' %}
                    <img src="{{ post.snippet }}" >
                    {% if post.snippet-ref %}
                        <span class="post-list-item--credit">
                            - {{ post.snippet-ref }}
                        </span>
                    {% endif %}
                {% else if post.snippet-type == 'code' %}
                    {{ post.snippet }}
                {% endif %}
            </div>
            <div class="post-list-item-desc">
                <h2>
                    {{ post.title | escape }}
                </h2>
                <p>{{ post.desc }}</p>
                <a href="{{ post.url | relative_url }}">View project <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% include about.html %}

</div>
