<script type="text/javascript" src="https://unpkg.com/@coffeeio/hypher@1.0.0/dist/hypher.js"></script>
<script type="text/javascript" src="https://unpkg.com/@fluid-project/hyphenation-patterns@0.2.2-dev.20181115T211247Z.d313a52/dist/browser/en-us.js"></script>
<script type="text/javascript" src="https://unpkg.com/@fluid-project/hyphenation-patterns@0.2.2-dev.20181115T211247Z.d313a52/dist/browser/da.js"></script>
<link href="/assets/project/typesetbot/assets/typesetbot.min.css" rel="stylesheet">
<script src="/assets/project/typesetbot/assets/typesetbot.min.js"></script>

<div class="tsb-nav">
    <a class="pure-button pure-button-primary" href="/typesetbot">Home</a>
    <a class="pure-button pure-button-primary" href="/typesetbot/how-does-it-work">How it works</a>
    <a class="pure-button pure-button-primary" href="/typesetbot/examples">Examples</a>
    <a class="pure-button pure-button-primary" href="/typesetbot/options">Options</a>
    <a class="pure-button pure-button-primary" href="/typesetbot/api">API</a>
    <a class="pure-button pure-button-primary" href="/typesetbot/license">License</a>
</div>

<div class="navbar burger">
    <a href="#" onclick="return false;">☰</a>
</div>
<ul class="pure-menu-list navbar table-of-contents closed"></ul>


<script>
// Contruct table of contents.
document.addEventListener("DOMContentLoaded", function(){
    var toc = document.querySelector('.table-of-contents');
    [].slice
      .call(document.querySelectorAll("main h2, main h3"))
      .forEach(item => {

        var id = item.innerText.toLowerCase().split(' ').join('-');
        item.id = id;
        var tag = item.tagName;
        var text = item.innerHTML;

        if (id != null) {
            item.innerHTML = '<a href="#' + id + '" aria-hidden="true" class="anchor" id="user-content-table-of-contents"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>' + item.innerHTML;
            if (tag === 'H2') {
                toc.innerHTML += ('<li class="pure-menu-item"><a href="#' + id + '" class="pure-menu-link">' + text + '</a></li>');
            } else if (tag === 'H3') {
                toc.innerHTML += ('<li class="pure-menu-item indent"><a href="#' + id + '" class="pure-menu-link">' + text + '</a></li>');
            }
        }
      });

    // Toggle toc display on mobile.
    document.querySelector(".navbar.burger > a").addEventListener("click", function(e) {
        if (toc.classList.contains('closed')) {
            toc.classList.remove('closed');
        } else {
            toc.classList.add('closed');
        }
    });
});


</script>